# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environments
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
static/
staticfiles/

# Environment Variables
.env
.env.*
*.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
